{% comment %}
  Detect current version by checking if the URL contains '/v2/' or '/v1/'.
  Then generate the link for the other version by a simple string replace.
{% endcomment %}

<select id="version-switcher" onchange="window.location=this.value">
  <option
    value="{{ page.url | relative_url | replace:'/v2/','/v1/' }}"
    {% if current_version == 'v1' %}selected{% endif %}
  >
    v1
  </option>
  <option
    value="{{ page.url | relative_url | replace:'/v1/','/v2/' }}"
    {% if current_version == 'v2' %}selected{% endif %}
  >
    v2
  </option>
</select>